<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi fugit aliquid, iste unde quo dolorum non alias veritatis itaque, officiis ut quidem repellat animi neque nulla fuga. Ad, neque asperiores?</p>
        </div>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>


<!-- Error Message -->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{ errorMessage }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" name="name" type="text" class="form-control bg-light text-dark fw-bold" placeholder="Name" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.photo" name="photo" class="form-control bg-light text-dark fw-bold" placeholder="Photo Url" required="true">
                </div>
                <div class="mb-2">
                    <input type="email" [(ngModel)]="contact.email" name="email" class="form-control bg-light text-dark fw-bold" placeholder="Email" required="true">
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" name="mobile" class="form-control bg-light text-dark fw-bold" placeholder="Mobile Number" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.company" name="company" class="form-control bg-light text-dark fw-bold" placeholder="Company" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" name="title" class="form-control bg-light text-dark fw-bold" placeholder="Title" required="true">
                </div>
                <div class="mb-2">
                    <select class="form-control" [(ngModel)]="contact.groupId" name="groupId" *ngIf="groups.length > 0" required="true">
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="Submit" value="Create" class="btn btn-danger">
                    <a routerLink="/" class="btn btn-danger ms-2">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="Your Photo Will Appear Here" class="contact-img-big text-white">
        </div>
    </div>
</div>